PORT=3001
CORS_ORIGIN_WHITELIST=http://localhost:3000

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SYNCHRONIZE=true
DATABASE_LOGGING=false
